<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <h1>register on webapp </h1>
    <form action="/register" method="POST">
        <div>
            <label for="username">enter username</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="password">enter password</label>
            <input type="text" name="password" id="password">
        </div>
        <button>sign up </button>

    </form>
</body>
</html>